.certificate_css{
    background-color: #F1F1F1;
}
.certificate_bottom{
    border-bottom: 1px solid #707070;
    padding-right: 20px;
}
.download-certificate{
    padding: 20px 18px 25px 18px;
}
.download-certificate a{
    color:#E8BD1F;
    font-weight: 500;
    border-bottom: 1px solid #E8BD1F;
}
.progress-text{
    padding-right: 15px;
    color: #555555;
}
.title{
    color:#555555;
    padding: 10px 0px 10px 20px;
    font-size: 17px;
}
.no-certificate{
    padding: 60px 0px;
    font-size: 20px;
    text-align: center;
}
