<div class="upcomingclass">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="upcomintext">
                    Your Upcoming Class at 28-04-20 IST 5:30pm
                </div>
            </div>
            <div class="col-md-3 text-center">
                <a href="#" class="joinbtn">Join Class</a>
            </div>
        </div>
    </div>
</div>
<div class="courcespannel">
    <div class="row margin0 pad0">
        <div class="col-md-4 pad0">
            <div class="recodetext"> Recorded Classes</div>
            <div class="recorded_list">

                <div class="accordion" id="accordion1">
                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingOne"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"> Module 1: UI
                                Design<span class="plus-minus"><i class="fa fa-angle-down"></i></span> </a> </div>
                        <div id="collapseOne" class="panel-collapse collapse show">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li class="active"> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingTwo"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo"> Module 2: UX
                                Design<span class="plus-minus"><i class="fa fa-angle-down"></i></span> </a> </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingThree"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseThree"> Module 3:PHP
                                Programs<span class="plus-minus"><i class="fa fa-angle-down"></i></span> </a> </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingFour"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseFour"> Module 4:
                                Fullstack Development<span class="plus-minus"><i class="fa fa-angle-down"></i></span>
                            </a> </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingFive"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseFive"> Module 5:
                                Datascience Programs<span class="plus-minus"><i class="fa fa-angle-down"></i></span>
                            </a> </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingSix"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseSix"> Module 6: Python
                                Development<span class="plus-minus"><i class="fa fa-angle-down"></i></span> </a> </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default card wow fadeInUp animated">
                        <div class="panel-heading card-header" id="headingSeven"> <a class="btn collapsed"
                                data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven"> Module 7: UX
                                Design<span class="plus-minus"><i class="fa fa-angle-down"></i></span> </a> </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="card-body">
                                <ul class="recordli">
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>
                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                    <li> <span class="customcheck"> <input class="styled-checkbox"
                                                id="styled-checkbox-1" type="checkbox" value="value1">
                                            <label for="styled-checkbox-1"> </label></span> 1. Lorem ipsum dolor sit
                                        amet, consetetur
                                        <span class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>


            </div>




        </div>

        <div class="col-md-8 pad0">


            <iframe src="https://player.vimeo.com/video/411687356" width="100%" height="508" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>


        </div>
    </div>


    <div class="cource_tabs">

        <ul class="nav nav-tabs">
            <li class=""><a data-toggle="tab" href="#courseinfo" class="active">Course Info</a></li>
            <li><a data-toggle="tab" href="#resources">Resources</a></li>
            <li><a data-toggle="tab" href="#assisments">Assisments</a></li>
            <li><a data-toggle="tab" href="#projects">Projects</a></li>
            <li><a data-toggle="tab" href="#discuss">Discuss</a></li>
            <li><a data-toggle="tab" href="#feedback">Feedback</a></li>
        </ul>

        <div class="tab-content">
            <div id="courseinfo" class="tab-pane fade in active">
                <div class="tabsub_content">
                    <h4>About This Course</h4>
                    <ul class="tabcource_list">
                        <li>Course Name: UI/UX</li>
                        <li>Start Course: 28-04-2020</li>
                        <li>Duration: 20hr</li>
                        <li>Modules: 10</li>
                        <li>Prerequisities: No</li>
                        <li>Skill Level: Beginner</li>
                    </ul>



                </div>
            </div>
            <div id="resources" class="tab-pane fade">
                <div class="tabsub_content">
                    <div class="modulelist">
                        <h4>Module 1</h4>

                        <div class="row">
                            <div class="col-md-7">HTML Source Code</div>
                            <div class="col-md-5 text-right"> <a href="#">Download File <img src="images/download.png"
                                        class="downloadicon"></a></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-7">CSS Git Hub Link</div>
                            <div class="col-md-5 text-right"> www.github.com/osacad/css-code</div>
                        </div>

                    </div>

                    <div class="modulelist">
                        <h4>Module 2</h4>

                        <div class="row">
                            <div class="col-md-7">JavaScript Source Code</div>
                            <div class="col-md-5 text-right"> <a href="#">Download File <img src="images/download.png"
                                        class="downloadicon"></a></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-7">CSS Git Hub Link</div>
                            <div class="col-md-5 text-right"> www.github.com/osacad/css-code</div>
                        </div>

                    </div>


                </div>
            </div>
            <div id="assisments" class="tab-pane fade">

                <div class="tabsub_content">
                    <h4>Module 1</h4>
                    <h3>Programming Assignment: Linear Regression</h3>
                    <p class="dedline"><span>Dead Line :</span> Pass this assignment by May 5, 12:00pm IST</p>


                    <div class="programtabs">

                        <ul class="nav nav-tabs">
                            <li class=""><a data-toggle="tab" href="#instructions" class="active">Instructions</a></li>
                            <li><a data-toggle="tab" href="#mysubmission">My Submission</a></li>

                        </ul>

                        <div id="instructions" class="tab-pane fade in active">
                            <div class="innersubcnt">

                                <div class="row">
                                    <div class="col-md-6">
                                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor
                                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                            eos et accusam et
                                            justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur
                                            sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut</p>
                                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor
                                            invidunt ut labore et dolore magna aliquyam erat, sed diam</p>

                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5">
                                        <h5 class="howsub">How to submit</h5>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor
                                            invidunt.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mysubmission" class="tab-pane fade">
                            <div class="innersubcnt">

                                <div class="row">


                                    <div class="col-md-5">
                                        <h5 class="howsub">How to submit</h5>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor
                                            invidunt.</p>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-6">
                                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor
                                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                            eos et accusam et
                                            justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur
                                            sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut</p>
                                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor
                                            invidunt ut labore et dolore magna aliquyam erat, sed diam</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div id="projects" class="tab-pane fade">
                <div class="tabsub_content">
                    <div class="projects_tabs">
                        <h4>Project 1: Server Management on AWS</h4>
                        <p>This Project will showcase how to Host Static Application on AWS with best practices Concepts
                            <br>Used
                            : VPC, EC2, ELB, ASG, CloudWatch, SNS</p>
                        <p><a href="#"><img src="images/download.png" class="downloadicon_l"> Download Project Files
                            </a></p>
                    </div>
                    <div class="projects_tabs">
                        <h4>Project 1: Server Management on AWS</h4>
                        <p>This Project will showcase how to Host Static Application on AWS with best practices Concepts
                            <br>Used
                            : VPC, EC2, ELB, ASG, CloudWatch, SNS</p>
                        <p><a href="#"><img src="images/download.png" class="downloadicon_l"> Download Project Files
                            </a></p>
                    </div>
                </div>
            </div>
            <div id="discuss" class="tab-pane fade">
                <div class="tabsub_content">
                    <div class="dicussion">
                        <div class="dicussion_row">
                            <img src="images/user.png" class="dicussion_user">
                            <p>Start Discussion</p>
                        </div>

                        <div class="dicussion_row">
                            <img src="images/user.png" class="dicussion_user">
                            <h5>How To Upload file in AWS</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                                duo dolores
                                et ea rebum.</p>
                        </div>
                        <div class="dicussion_row">
                            <img src="images/user.png" class="dicussion_user">
                            <h5>How To Upload file in AWS</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                                duo dolores
                                et ea rebum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feedback" class="tab-pane fade">
                <div class="tabsub_content">
                    <h4>Feedback</h4>
                </div>
            </div>
        </div>
    </div>
</div>