.cource_tabs{
    padding: 0px;
}
.profile{
    background-color: #F5F5F5;
}
.cource_tabs .nav-tabs {
    border: none;
    padding: 0 30px;
    color: #444444;
}
.cource_tabs .nav-tabs li a{
    color: #444444;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}