.order_detail_col{ margin: 30px auto 0; width: 75%; background: #F1F1F1; font-size: 16px;}
.order_detail_col h3{ margin: 0; padding: 0; background: #303030; padding: 20px 30px; color: #fff; font-weight: 400; font-size: 20px;border-bottom: 1px solid #424141;}
.pad40{ padding: 40px 40px 0;}
.cources_title{ background: #E2E2E2; padding: 15px 60px; text-transform: uppercase; color: #000000;}
.pad30{ padding: 30px;} 
.cource_details{ color: #919190; border-bottom: 1px solid #707070;}
.collapse {
    display: block;
}
.navbar-toggle{ display: none;}
.download-invoice{
  color:#E8BD1F; 
  font-weight: 500; 
  border-bottom: 1px solid #E8BD1F; 
  padding-top: 10px;
}
.no-invoice{
  text-align: center;
  color: #000;
}
.text-color{
  color: #555555;
}
.invoice-title{
  color: #000;
  font-family: 'Poppins', sans-serif;
}